/* .....................css reset start............................... */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

/* .......................css reset end............................ */

.wrap{
    max-width: 1000px;
    margin: 0 auto;
}

/* head start */

.head_top{
    background: #f6f6f6;
    padding: 0.5%;
}

.social_contact{
    margin-right: 2%;
    float: right;
}

.fb_icon, .twitter_icon{
    float: left;
}

.fb_icon span{
    color: #3060A3;
}


.twitter_icon span{
    color: #2EACEF;
}

.social_contact li{
    padding-left: 1em;
}

.social_contact li a{
    text-decoration: none;
}

.navbar{
    box-shadow: 0 5px 5px #f6f6f6;
}

.navbar h1{
    margin: 10px 0 5px 20px;
}

.navbar h1 a{
    background-image: url(../images/logo.png);
    height: 36px;
    width: 170px;
    display: block;
    float: left;
    white-space: nowrap;
    text-indent: 101%;
    overflow: hidden;
}

.section{
    float: right;
}

.section li{
    float: left;
    border-bottom: 3px solid transparent ;
}

.section li:hover{
    border-bottom: 3px solid #2CCD98;
}

.section li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px 20px 20px ;
    color: #2CCD98;
}

@media(max-width: 767px){
    .navbar h1 a{
        float: none;
        margin: 0 auto;
    }
    .section{
        width: 90%;
        margin: 10px auto;
    }
    
   .section li{
        width: 45%;
}

    .section li a{
        text-align: center;
    }

}

/* head end */

/* content start */

.hex_class{
    padding-left: 3%;
    padding-top: 8%;
}

.hex_class li{
    max-width: 32.33333%;
    float: left;
    border: 2px solid #f6f6f6; 
    border-top: none;
    margin-right: 3%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 5px 5px #f6f6f6;
}


.hex_class h2{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5%;
}

.hex_class p{
    line-height: 150%;
}

.html_class img{
    margin-left: 12%; 
    margin-bottom: 6%;
}

.html_class p{
    padding-bottom: 8%;
}


.rwd_class img{
    margin-left: 10%;
    margin-bottom: 5%;
}

.jquery_class img{
    margin-bottom: 5%;
}

.jquery_class h2{
    margin-bottom: 9%;
}

.jquery_class li{
    float: none;
    border: none;
    list-style-type: disc;
    max-width: 100%;
    margin: 0 8%;
    padding-bottom: 5%;
}

@media(max-width: 767px){
    .hex_class li{
        float: none;
        max-width: 100%;
    }


    .hex_class li img{
        width: 50%;
        margin-left: 24%;
    }

    .html_class p{
        padding-bottom: 0;
    }

    .jquery_class p{
        text-align: center;
    }

    .jquery_class li{
        border: none;
        box-shadow: none;
        padding-bottom: 1%;
    }

}



/* content end */

.clearfix::after{
    content:"";
    clear: both;
    display: table;
}